# Data merge with Pandas : inner join, outer join, left/right join

In [3]:
import pandas as pd

dat1 = pd.DataFrame({'ID': ['A', 'B', 'C'],
                    'Value': [1, 10, 100]})
dat2 = pd.DataFrame({'ID': ['A', 'B', 'D'],
                    'Value': [1, 10, 1000]})

In [4]:
dat1

  ID  Value
0  A      1
1  B     10
2  C    100

In [5]:
dat2

  ID  Value
0  A      1
1  B     10
2  D   1000

onlabel or list
Column or index level names to join on. These must be found in both DataFrames. If on is None and not merging on indexes then this defaults to the intersection of the columns in both DataFrames.

In [6]:
pd.merge(dat1, dat2, on='ID') # how="inner" is default value

  ID  Value_x  Value_y
0  A        1        1
1  B       10       10